img {
    height: 700px;
    width: 1000px;
    float: right;
    
}

.loginbox {
    width: 500px;
    height: 700px;
    color: #fff;
    right: 1000px;
    position: absolute;
    background: rgb(245, 194, 194);
    
}

